.background {
  background-color: black;
  background-image: url('http://static1.squarespace.com/static/56d692bb0442629982c72307/56d698393c44d8550fb5eb80/573c0a1ea3360cdc73fd7b85/1477370330348/03+BILL+MURRAY+LostInTranslation+3.jpg?format=1500w');
  background-image-style: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  padding-top: 80px;
}

